@keyframes loading {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

html {
  font-family: "Fira Code", monospace;
  background-color: #070211; }

.status {
  width: 49%;
  height: 50%;
  float: right;
  color: #e1eaed; }
  .status h1 {
    animation: loading 5s infinite; }

.hidden {
  display: none; }

.video {
  border: solid red;
  width: 49%;
  height: 50%; }

.right {
  float: right; }
