.video {
    &--video1 {
        width: 25%;
        height: 50%;
    }
    &--video2 {
        width: 25%;
        height: 50%;
    }
    &--video3 {
        width:25%;
        height: 50%;
        float: right;
    }
}

