@keyframes loading {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.status {
    animation: loading 5s infinite;
}

.video {
    &--video1 {
        width: 25%;
        height: 50%;
    }
    &--video2 {
        width: 25%;
        height: 50%;
    }
    &--video3 {
        width:25%;
        height: 50%;
        float: right;
    }
}
