@keyframes loading {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes destroyed {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0;
    display: none; } }

html {
  font-family: "ModeSeven", monospace;
  background-color: #070211; }

.status {
  width: 49%;
  height: 50%;
  float: right;
  position: absolute;
  left: 61em;
  top: 35em;
  color: #e1eaed; }
  .status h1 {
    animation: loading 5s infinite; }

.hidden {
  display: none; }

.video {
  border: solid red;
  width: 49%;
  height: 50%; }
  .video.webcam {
    height: 500px; }

.lost h4 {
  position: relative;
  top: -2em;
  right: 2em; }

.right {
  float: right; }

.killed {
  animation: destroyed 5s; }
